body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#2b1055, #7597de);
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #dff6ff;
  }

.navbar{
    position: fixed;
    top: 4%;
    width: 750px;
    height: 5rem;
    border-radius: 40px;
    background-color: transparent;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    transition: transform, 5s, ease-in-out, 1s;
}

.navbar-item{
    color: rgba(230, 230, 250, 0.734);
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    transition: transform, 5s, ease-in-out, 0.3s;
}

.navbar-item:hover{
    letter-spacing: 5px;
    color: lavender;
    text-shadow: 0 0 10px lavender;
}

.container {
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
}

.sections{
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.title{
    font-size: 75px;
    font-weight: bold;
    letter-spacing: 20px;
    color: lavender;
    text-shadow: 0 0 25px lavender;
    transition: transform, 0s, ease-in-out, 0.3s;
}

.title:hover{
    color: rgba(230, 230, 250, 0.734)r;
    text-shadow: 0 0 25px rgba(230, 230, 250, 0.734);
}

.descriptions{
    width: 750px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
}

.description{
    color: rgba(230, 230, 250, 0.734);
    text-shadow: 0 0 15px rgba(230, 230, 250, 0.734);
    font-size: 25px;
}

.icons svg{
    width: 40px;
    height: 40px;
    fill: rgba(230, 230, 250, 0.734);
    margin-top: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: transform, 5s, ease-in-out, 0.3s;
}

.icons svg:hover{
    width: 55px;
    height: 45px;
    fill: lavender;
    filter: drop-shadow(0 0 10px rgba(230, 230, 250, 0.5));
}

.icons .github{
    margin-right: 15px;
}

.icons .discord{
    margin-left: 15px;
}

.homesection{
    flex-direction: column;
    background-image: url(images/stars.png);
    background-size: cover;
}

.projectssection{
    flex-direction: column;
}

.projects{
    margin-top: 145px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 20px;
    color: lavender;
    text-shadow: 0 0 25px lavender;
    transition: transform, 0s, ease-in-out, 0.3s;
}

.projectswrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 50%;
    background-color: transparent;
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.resume{
    position: relative; /* Ensure the parent element has a non-static position */
    flex-direction: column;
    background-image: url('images/resumeparser.png');
    background-position: center center;
    background-size: cover;
  }
  
  .resume::before {
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/resumeparser.png');
    background-position: center center;
    background-size: cover;
    filter: brightness(0.7) blur(1px);
    z-index: -1; /* Place the pseudo-element behind the content */
  }
  
  .twitter {
    position: relative; /* Ensure the parent element has a non-static position */
    flex-direction: column;
    background-image: url('images/twitter.jpg');
    background-position: center center;
    background-size: cover;
  }
  
  .twitter::before {
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/twitter.jpg');
    background-position: center center;
    background-size: cover;
    filter: brightness(0.7) blur(1px);
    z-index: -1; /* Place the pseudo-element behind the content */
  }
  
  .weather {
    position: relative; /* Ensure the parent element has a non-static position */
    flex-direction: column;
    background-image: url('images/weatheragg.png');
    background-position: center center;
    background-size: cover;
  }
  
  .weather::before {
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/weatheragg.png');
    background-position: center center;
    background-size: cover;
    filter: brightness(0.7) blur(1px);
    z-index: -1; /* Place the pseudo-element behind the content */
  }

.projectnames{
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: none;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    transition: transform, 5s, ease-in-out, 0.3s;
}

.projectnames:hover{
    letter-spacing: 5px;
    color: lavender;
    text-shadow: 0 0 10px lavender;
}

.backgroundblur{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: black;
    z-index: 999;
}

.projectoverlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 62%;
    border-radius: 20px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #2b1055, #7597de);
    z-index: 999;
}

.sharebuttons{
    position: fixed;
    top: 26px;
    right: 7%;
    z-index: 999;
    cursor: pointer;
}

.exitbuttons{
    position: fixed;
    top: 3%;
    right: 2%;
    z-index: 999;
    cursor: pointer;
}

.projectdesc{
    height: 80%;
    width: 30%;
    color: lavender;
    margin-bottom: 60px;
}

.projecttitle{
    font-size: 40px;
}

.paragraph{
    font-size: 20px;
    color: lavender;
}

.madewith{
    font-size: 20px;
}

.learnmoredesc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.learnmoredesc svg{
    fill: lavender;
    filter: drop-shadow(0 0 10px rgba(230, 230, 250, 0.5));
    margin-left: 5px;
}

.learnmore{
    color: rgba(230, 230, 250, 0.734);
    margin-right: 5px;
}
  
.contactsection{
    display: flex;
    flex-direction: column;
    background-image: url(images/mountains_front.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.contactwrapper{
    margin-top: 10%;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 255, 255, 0);
}

.contactdesc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.contacttitle{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 20px;
    color: lavender;
    text-shadow: 0 0 25px lavender;
    transition: transform, 0s, ease-in-out, 0.3s;
    margin: 0;
    margin-bottom: 20px;
}

.contactinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contactsvg{
    margin-right: 10px;
}

.contactbox{
    width: 45%;
    height: 100%;
    background: linear-gradient(90deg, #442d69,#2b1055 );
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 90%;
    height: 10%;
    margin-top: 25px;
    background-color: lavender;
    border: 1px solid #2b1055;
    outline: none;
    color: #fff;
    font-size: 20px;
    opacity: 0.75;
}

.input::placeholder{
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.messageinput{
    height: 40%;
}

.messageinput::placeholder{
    position: fixed;
    top: 20px;
}

.sendbutton{
    width: 20%;
    height: 10%;
    background-color: lavender;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    color: #2b1055;
    margin-top: 20px;
    margin-right: 380px;
    opacity: 0.75;
    transition: transform, 0s, ease-in-out, 0.3s;
}

.sendbutton:hover{
    opacity: 1;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}